<?xml version="1.0" encoding="utf-8"?>
<Root>
  <DatabasePath>E:\my\taobao-app-project\website\App\SellerWeibo\database\data.mdb</DatabasePath>
  <TaobaoAppKey>21121786</TaobaoAppKey>
  <TaobaoAppSecret>4abd554e6df3e8ed7725d5d82174d0e4</TaobaoAppSecret>
  <TaobaoRestUrl>http://gw.api.taobao.com/router/rest</TaobaoRestUrl>
</Root>