<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="Proxy" value="0"/>
    <!--<add key="ConfigFile" value="~/app/SellerHelp/config/site_line.config"/>-->
    <add key="ConfigFile" value="~/app/SellerHelp/config/site_line.config"/>
	</appSettings>
	<system.web>
		<compilation debug="true"/>
	</system.web>
</configuration>
