<?xml version="1.0" encoding="utf-8"?>
<Root>
  <ServerUrl>http://gw.api.taobao.com/router/rest</ServerUrl>
  <SiteUrl>http://localhost:2761/SellerHelpWeb/SellerMail</SiteUrl>
  <DatabasePath>D:\my\SellerHelp\SellerHelpWeb\SellerMail\database\data.mdb</DatabasePath>
  <TaobaoAppKey>12564411</TaobaoAppKey>
  <TaobaoAppSecret>8730891985769dd59154d139814f2b39</TaobaoAppSecret>
  <TaobaoOAthorUrl>http://container.api.taobao.com/container?appkey=12564411</TaobaoOAthorUrl>
</Root>