<?xml version="1.0" encoding="utf-8"?>
<Root>
  <DatabasePath>E:\my\taobao-app-project\website\App\Sellermail\database\data.mdb</DatabasePath>
  <TaobaoAppKey>1012564411</TaobaoAppKey>
  <TaobaoAppSecret>sandbox985769dd59154d139814f2b39</TaobaoAppSecret>
  <TaobaoOAthorUrl>http://container.api.tbsandbox.com/container?appkey=1012564411</TaobaoOAthorUrl>
  <SiteUrl>http://127.0.0.1:13396/website/App/SellerMail</SiteUrl>
  <TaobaoRestUrl>http://gw.api.tbsandbox.com/router/rest</TaobaoRestUrl>
</Root>