<?xml version="1.0" encoding="utf-8"?>
<Root>
  <TaobaoRestUrl>http://gw.api.taobao.com/router/rest</TaobaoRestUrl>
  <SiteUrl>http://sasapp.hz024b.my2ip.com/app/SellerHelp</SiteUrl>
  <DatabasePath>d:\webroot\sasapp\web\app\database\data.mdb</DatabasePath>
  <TaobaoAppKey>12339314</TaobaoAppKey>
  <TaobaoAppSecret>0009245945998f11f4161a57401f172e</TaobaoAppSecret>
  <TaobaoOAthorUrl>http://container.api.taobao.com/container?appkey=12339314</TaobaoOAthorUrl>
</Root>