<?xml version="1.0" encoding="utf-8"?>
<Root>
  <ServerUrl>http://gw.api.taobao.com/router/rest</ServerUrl>
  <SiteUrl>http://localhost:13396/SellerHelpWeb/App/SellerHelp</SiteUrl>
  <DatabasePath>D:\MY\SellerHelp_65020\SellerHelpWeb\App\SellerHelp\database\data.mdb</DatabasePath>
  <TaobaoAppKey>12344629</TaobaoAppKey>
  <TaobaoAppSecret>225d5ba5ec86e39a9125917d702a4188</TaobaoAppSecret>
  <TaobaoOAthorUrl>http://container.api.taobao.com/container?appkey=12344629</TaobaoOAthorUrl>
</Root>