<?xml version="1.0" encoding="utf-8"?>
<Root>
  <DatabasePath>E:\my\taobao-app-project\website\AutoWeibo\db\data.mdb</DatabasePath>
  <TXAppKey>35c723771f3b44b2be8918d28e1f6a83</TXAppKey>
  <TXAppSecret>d57256e070147af9b0f46d46d10ef22d</TXAppSecret>
  <SinaAppKey>608362677</SinaAppKey>
  <SinaAppSecret>a16b696471e6abf89cb1d12d01ee3251</SinaAppSecret>
  <TXCallbackUrl>http://127.0.0.1:13396/website/App/Sellerweibo/default.aspx?from=tx</TXCallbackUrl>
  <SinaCallbackUrl>http://127.0.0.1:13396/website/AutoWeibo/sina.aspx?from=sina</SinaCallbackUrl>
</Root>