<?xml version="1.0" encoding="utf-8"?>
<Root>
  <DatabasePath>E:\my\taobao-app-project\website\App\SellerWeibo\database\data.mdb</DatabasePath>
  <TaobaoAppKey>1012306090</TaobaoAppKey>
  <TaobaoAppSecret>sandboxd367d3e0cc8ccc89347569064</TaobaoAppSecret>
  <TaobaoOAthorUrl>http://container.api.tbsandbox.com/container?appkey=1012306090</TaobaoOAthorUrl>
  <TXAppKey>35c723771f3b44b2be8918d28e1f6a83</TXAppKey>
  <TXAppSecret>d57256e070147af9b0f46d46d10ef22d</TXAppSecret>
  <SinaAppKey>380547258</SinaAppKey>
  <SinaAppSecret>c7f079238d8b57ea06d4b78026239b77</SinaAppSecret>
  <TXCallbackUrl>http://localhost:13396/website/App/Sellerweibo/default.aspx?from=tx</TXCallbackUrl>
  <SinaCallbackUrl>http://localhost:13396/website/App/Sellerweibo/default.aspx?from=sina</SinaCallbackUrl>
  <TaobaoRestUrl>http://gw.api.tbsandbox.com/router/rest</TaobaoRestUrl>
</Root>