<?xml version="1.0" encoding="utf-8"?>
<Root>
  <DatabasePath>f:\usr\LocalUser\bmw027118\pages\database\data.mdb</DatabasePath>
  <TaobaoAppKey>12301114</TaobaoAppKey>
  <TaobaoAppSecret>0afd05f64bee5d224103356543fc7896</TaobaoAppSecret>
  <TaobaoOAthorUrl>http://container.api.taobao.com/container?appkey=12301114</TaobaoOAthorUrl>
  <TXAppKey>35c723771f3b44b2be8918d28e1f6a83</TXAppKey>
  <TXAppSecret>d57256e070147af9b0f46d46d10ef22d</TXAppSecret>
  <SinaAppKey>1243909202</SinaAppKey>
  <SinaAppSecret>6dc35dcecacd6adae1256684c93b1368</SinaAppSecret>
  <TXCallbackUrl>http://bmw027118.chinaw3.com/pages/default.aspx?from=tx</TXCallbackUrl>
  <SinaCallbackUrl>http://bmw027118.chinaw3.com/pages/default.aspx?from=sina</SinaCallbackUrl>
</Root>