<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <configSections>
    <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter"/>
  </configSections>
  <appSettings>
    <add key="Proxy" value="0"/>
    <add key="ConfigFile" value="~/config/site.config"/>
  </appSettings>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
	</compilation>
		<!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
           The <customErrors> section enables configuration 
           of what to do if/when an unhandled error occurs 
           during the execution of a request. Specifically, 
           it enables developers to configure html error pages 
           to be displayed in place of a error stack trace.

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
		<pages/>
    <httpHandlers>
       <add verb="*" path="*.aspx" type="URLRewriter.RewriterFactoryHandler, URLRewriter"/>
    </httpHandlers>
  </system.web>
  <RewriterConfig>
    <Rules>
      <RewriterRule>
        <LookFor>~/Detail_(.*?[^']).aspx</LookFor>
        <SendTo>~/Detail.aspx?pid=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/Category_(.*?[^'])_(\d+).aspx</LookFor>
        <SendTo>~/Category.aspx?cid=$1&amp;p=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/Category_(.*?[^']).aspx</LookFor>
        <SendTo>~/Category.aspx?cid=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/Article_(.*?[^']).aspx</LookFor>
        <SendTo>~/Article.aspx?aid=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/channel/TaoBao_(.*?[^'])_(\d+).aspx</LookFor>
        <SendTo>~/channel/TaoBao.aspx?k=$1&amp;p=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/TSearch_(.*?[^'])_(\d+).aspx</LookFor>
        <SendTo>~/TSearch.aspx?k=$1&amp;p=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/TSearch_(.*?[^']).aspx</LookFor>
        <SendTo>~/TSearch.aspx?k=$1</SendTo>
      </RewriterRule>

      <RewriterRule>
        <LookFor>~/Goods_(.*?[^']).aspx</LookFor>
        <SendTo>~/Goods.aspx?numiid=$1</SendTo>
      </RewriterRule>
    </Rules>
  </RewriterConfig>
</configuration>
