<?xml version="1.0" encoding="utf-8"?>
<Root>
  <DatabasePath>d:\webroot\sasapp\web\app\Sellerweibo\database\data.mdb</DatabasePath>
  <TaobaoAppKey>12306090</TaobaoAppKey>
  <TaobaoAppSecret>60a6704d367d3e0cc8ccc89347569064</TaobaoAppSecret>
  <TaobaoOAthorUrl>http://container.api.taobao.com/container?appkey=12306090</TaobaoOAthorUrl>
  <TXAppKey>35c723771f3b44b2be8918d28e1f6a83</TXAppKey>
  <TXAppSecret>d57256e070147af9b0f46d46d10ef22d</TXAppSecret>
  <SinaAppKey>1243909202</SinaAppKey>
  <SinaAppSecret>6dc35dcecacd6adae1256684c93b1368</SinaAppSecret>
  <TXCallbackUrl>http://sasapp.hz024b.my2ip.com/app/Sellerweibo/default.aspx?from=tx</TXCallbackUrl>
  <SinaCallbackUrl>http://sasapp.hz024b.my2ip.com/app/Sellerweibo/default.aspx?from=sina</SinaCallbackUrl>
  <TaobaoRestUrl>http://gw.api.taobao.com/router/rest</TaobaoRestUrl>
</Root>